/*
table, tr, td {
    align-items: center;
}

table, tr {
    border: 2px solid black;
    border-collapse: collapse;
}

input[type=checkbox] {
    width: 20px;
    align-items: center;
}

.taskTr {
    height: 40px;
}

.textTask {
    height: 40px;
}

.taskTd {
    display: flex;
    background-color: lightgreen;
}
*/

table, tr {
    border: 2px solid black;
    border-collapse: collapse;
    width: 35%;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#aggiungi {
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    border-color: darkcyan;
}

#aggiungi:hover {
    width: 110px;
    height: 60px;
    background-color: greenyellow;
    border-color: lightcyan;
}

input[type=text]:hover {
    width: 100%;
    border-color: darkgray;
}

input[type=date]:hover {
    border-color: darkgray;
}
