.cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAHt7e729vf///wAAACwAAAAAEAAQAAACKpSPGckXYIKcVAIoqn541xt5E5iJVmdyoUmmasmi8Sq2Kchd+q7n/A8oAAA7");

    cursor: pointer;
    vertical-align: middle;
}

.cell-row {
    display: flex;
    justify-content: center;
}

.cell.clicked {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPAAAHt7e729vSwAAAAAEAAQAAACHYSPacHtD550cc5qYZZ4s+6Bm5iRlnl5lNqgHMsUADs=");
}

.cell.bomb {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAAAAHt7e729vf///ywAAAAAEAAQAAACNIyPacLtHx4DUkRJ5RUUeM81G/d9zuYNQ5lZTbqWIsnW7lSDDJq3Y3560UC+SiuIqYwqjgIAOw==");
}

.cell.flag {
    background-image: url("data:image/gif;base64,R0lGODdhEAAPAPIAAAAAAHt7e729vf8AAP///wAAAAAAAAAAACwAAAAAEAAPAAADOUi63NJwiaCEvdgGSvIY2VZZ3xdyZAliYpeaLIrBV5sJwDliebzjgKDPFSwWNTKjEfm7MSebqFSaAAA7");
}

.cell.clicked.count-1 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAAA/3t7e729vQAAACwAAAAAEAAQAAACKYyPacLtH550UQIgq7sYPt5RG5hZV/mdXho2WsOhDBi7Iy1O06vb/VMAADs=");
}

.cell.clicked.count-2 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAB7AHt7e729vQAAACwAAAAAEAAQAAACLYyPacLtH550kYGLL7W5t4o5IVNNo1CKJ/p4G7d+MDCRc0fbAp7JtZT66YSNAgA7");
}

.cell.clicked.count-3 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAHt7e729vf8AAAAAACwAAAAAEAAQAAACLISPacHtD550MYiLMWW5i1ZNGhNKY1Ba3eZ4rHiBExeTtFejtyvPUurTBR0FADs=");
}

.cell.clicked.count-4 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAAAe3t7e729vQAAACwAAAAAEAAQAAACLoyPacLtH550sYErLqBOZ9xU3zZyjFeGp8aCQtW26oQy4lO/U2rv+b2bBU3DRgEAOw==");
}

.cell.clicked.count-5 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAHsAAHt7e729vQAAACwAAAAAEAAQAAACKYyPacLtH550UYCLc6u5g81gE2hdI8N5JqmK6OkK1RSnLXuTJ7VDvVMAADs=");
}

.cell.clicked.count-6 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAB7e3t7e729vQAAACwAAAAAEAAQAAACLIyPacLtH550kYGLL7U5b4FNTRWKAtmVDJpqKwc4Kiu7J9yOTRvrJvQDBhsFADs=");
}

.cell.clicked.count-7 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAAAAHt7e729vQAAACwAAAAAEAAQAAACKoyPacLtH550UYCLc6u5gz0xGBiOTCWZZ3lRk7qmrfvAsWMLaEjzvc8oAAA7");
}

.cell.clicked.count-8 {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPAAAHt7e729vSwAAAAAEAAQAAACKYSPacHtD550kanV6j3ZYl8F2id+4UZlV1qGbfeqJ7hacsJOkqvDvVMAADs=");
}

.cell.bomb.clicked {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPEAAAAAAHt7e/8AAP///ywAAAAAEAAQAAACNIyPacLtHx4DUkRJ5RUUeM81G/d9zuYNQ5lZTbqWIsnW7lSDDJq3Y3560UC+SiuIqYwqjgIAOw==");
}

.cell.flag.flagError {
    background-image: url("data:image/gif;base64,R0lGODdhEAAQAPIAAAAAAHt7e729vf8AAP///wAAAAAAAAAAACwAAAAAEAAQAAADRBi63CowyhkmBFbUMSSOnAaFQFkKoTgOZpmqAsARLhtVl8xyJ1S1OlYLZuIIP0SdEolbFTs30LEWRUFjUp/VIwk1M5MEADs=");
}

.cell, .cell.clicked, .cell.bomb, .cell.flag, .cell.clicked.count-1, .cell.clicked.count-2, .cell.clicked.count-3, .cell.clicked.count-4,
.cell.clicked.count-5, .cell.clicked.count-6, .cell.clicked.count-7, .cell.clicked.count-8, .cell.bomb.clicked, .cell.flag.flagError {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#end {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: brown;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding-right: 2%;
    padding-left: 2%;
}

button {
    width: 100%;
    color: red;
    font-weight: bold;
    border-radius: 20%;
    line-height: 200%;
    background-color: rgb(171, 13, 13);
}

button:hover {
    background-color: darkred;
}

#numeroMine, span, p, select, #restart, br, #personalizza {
    user-select: none;
}

#partS:hover, #vicS:hover {
    background-color: rgb(255, 201, 102);
}

#partS, #vicS {
    border: 2px solid black;
    line-height: 10%;
}
